<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lin.snacks.dao.OrderMapper">

	<insert id="addall" parameterType="lin.snacks.pojo.Order">

		insert into `order` values
		(#{id},#{uid},#{sid},#{sname},#{spic},#{ostatus},#{owd},#{onumber},#{uaddress},#{utel},#{uname},#{number},#{otime})
	</insert>
	<select id="findAll" resultType="lin.snacks.pojo.Order">
		SELECT * FROM `order`
	</select>
	<delete id="deleteorder" parameterType="java.lang.String">
		delete from `order` where id=#{id}
	</delete>
	<update id="updateorder" parameterType="lin.snacks.pojo.Order">
	UPDATE `order` SET uname=#{uname},spic=#{spic},onumber=#{onumber},number=#{number} WHERE id=#{id}
	</update>
	
	<select id="findBystatus" parameterType="java.lang.String" resultType="lin.snacks.pojo.Order">
	select * from `order` where ostatus=#{value}
	
	</select>
	
	<update id="updatestatus" parameterType="java.lang.String">
	update `order` SET ostatus=#{1} where id=#{0}
	
	</update>
	

</mapper>