<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lin.snacks.dao.SnackMapper">
	<select id="findSnackByAll" resultType="lin.snacks.pojo.Snack">
		SELECT * FROM snack
	</select>
	<select id="findSnackById" parameterType="java.lang.String" resultType="lin.snacks.pojo.Snack">
	SELECT * FROM snack a WHERE a.id=#{id}
	</select>

</mapper>